<div class="container-fluid main-container">
    <div class="row">
        
        <div class="col">

            <div class="form-Conatiner">
                <form action="http://localhost:3000/bug/create/<%= user.id %>" method="post">
                    <label class="label-styles" for="bugName">Name</label>
                    <input class="custom-input" type="text" name="bugName" required placeholder="Login bug" maxlength="30" >
                    <label class="label-styles" for="bugDescription">Description</label>
                    <textarea class="custom-input" type="text" name="bugDes" rows="4" cols="50" required placeholder="Bug Description" maxlength="250"></textarea>
                    <label class="label-styles" for="bugProject">Project</label>
                    <input class="custom-input" type="text" name="bugProject" required placeholder="Bug Tracker" maxlength="30">
                    <label class="label-styles" for="bugCode">Code</label>
                    <input class="custom-input" type="text" name="bugCode" required placeholder="Kotlin" max="30">
                    <label class="label-styles" for="bugImportance">Bug Level of Importance</label>
                    <select class="custom-input" name="bugImportance" id="bugImportance">
                        <option value="low">low</option>
                        <option value="medium">medium</option>
                        <option value="high">high</option>
                    </select>
                    <label class="label-styles" for="bugPrivate">Bug viewability</label>
                    <select class="custom-input" name="bugPrivate" id="bugPrivate">
                        <option value="public" >Public</option>
                        <option value="private" >Private</option>
                    </select>

                    <button class="button-styles" type="submit">Submit</button>
                    <button class="button-styles button-spacing"><a href="http://localhost:3000/bug">Cancel</a></button>
                </form>
                
            </div>















        </div>
    </div>
</div>