<div class="container-fluid main-container">
    <div class="row">
        
        <div class="col">


          
          
            <div class="form-Conatiner">
                
                <% if(typeof message !== 'undefined'){ %>
                    <div class="error-message-form"><%= message %></div> 
                    <% } %>
                <form action="http://localhost:3000/user/create" method="post">
                    <label for="">First Name</label>
                    <input class="custom-input" type="text" name="fname" maxlength="20" required>
                    <label for="">Last Name</label>
                    <input class="custom-input" type="text" name="lname" maxlength="20" required>
                    <label for="">Email</label>
                    <input class="custom-input" type="email" name="email" maxlength="30" required>
                    <label for="">Password</label>
                    <input class="custom-input" type="text" name="password" minlength="5" maxlength="20" required>
                    <label  for="">Confirm Password</label>
                    <input class="custom-input" type="text" name="passwordConfirm" minlength="5" maxlength="20" required>
                    <label for="role">Role</label>
                    <select class="custom-input" name="role" id="role">
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                    <label for="">Title</label>
                    <input class="custom-input" type="text" name="title" maxlength="20" required>
                    <button type="submit">Submit</button>
                </form>
                
            </div>















        </div>
    </div>
</div>