<div class="container-fluid main-container">
    <div class="row">
        
        <div class="col">


          
          
            <div class="contentBugs">
                

                <form action="http://localhost:3000/user" method="post">
                    <label for="">First Name</label>
                    <input class="custom-input" type="text" name="fname">
                    <label for="">Last Name</label>
                    <input class="custom-input" type="text" name="lname">
                    <label for="">Email</label>
                    <input class="custom-input" type="text" name="email">
                    <label for="">Password</label>
                    <input class="custom-input" type="text" name="password">
                    <label  for="">PasswordConfirm</label>
                    <input class="custom-input" type="text" name="passwordConfirm">
                    <label for="">Role</label>
                    <input class="custom-input" type="text" name="role">
                    <button type="submit">Submit</button>
                </form>
                
            </div>















        </div>
    </div>
</div>