<div>
    <div class="error-text">
        <h2><%= message %></h2>
        <button><a href="http://localhost:3000/bug/">Return Home</a></button>
    </div>
    <div class="error-image">
        <img src="/Business team looking for new people.jpg" width="400px" height="400px" alt="Business team looking for new people">
    </div>
</div>