<div class="login-container">
    <h1 class="main-title">Bug Tracking App</h1>
    <div class="login">
        <form action="http://localhost:3000/user/login" method="post" >
            <label class="label-styles-login" for="fname">First name:</label><br>
            <input class="custom-input-login" type="email" id="email" name="email"><br>
            <label class="label-styles-login" for="lname">Last name:</label><br>
            <input class="custom-input-login" type="password" id="password" name="password">
            <button class="button-styles-login" type="submit">Login</button>
          </form>
    </div>
    
</div>