<nav class="navbar navbar-dark">
    <div class="container-fluid navbar-content">
        
        <span>
          <img src="/bug.svg" alt="bug logo" />
        </span>
        <span class="logged-in"><h2>test </h2></span>
    </div>
  </nav>