<nav class="navbar navbar-dark">
    <div class="container-fluid navbar-content">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <span>
          <a href="http://localhost:3000/bug/"><img src="/bug.svg" alt="bug logo" /></a>
        </span>
        <span class="logged-in"><p><%= name ||'User' %> </p></span>
    </div>
  </nav>