<nav class="navbar navbar-dark">
    <div class="container-fluid navbar-content">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <span>
          <img src="/bug.svg" alt="bug logo" />
        </span>
        <span class="logged-in"><h2><%= currentUser.fname %>.<%= currentUser.lname[0] %> </h2></span>
    </div>
  </nav>