
/* Reformat CSS styling */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    height: 100%;
    background-color: #E9ECEF;
}

.main-container
{
    display: flex;
    
}
/* Varible colour */

:root
{
    --main-bg-colour: #1D5D4B;
    --main-bg-colour-hover:  #62567D;
    --main-cta-colour: #5F419F;
    --delete-colour: #A80000;
    --delete-colour-hover: #df0000;
    --main-badge-colour: #2f84a0;
    --button-main-colour: #62567D;
}

/* Navbar */
.navbar
{
    height: 10vh;
    width: 100%;
    background-color: var(--main-bg-colour);
    color: white;

}

.navbar-content
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-content-error
{
    max-width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bug-error
{
    max-width: 100%;
}

.logged-in
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    margin-top: 20px;
}


/* OffCanvas Nav */
.offcanvas
{
    top: 10vh;
    height: 85vh;
    width: 75%;
    background-color: var(--main-badge-colour);
    border-radius: 0 20px 20px 0;
}

.nav-link-container
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    justify-content: flex-start;
    border-bottom: 2px solid white;
}

.nav-link-container a
{
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding-left: 10px;
    
}

.side-bar-nav
{
    display: none;
}
/* nav side bar styling */
.nav-col
{
    background-color: #3BCCCA;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Viewing Bugs section */
.filterContainer
{
    margin-top: 5px;
    width: 100%;
    height: 10vh;
    background-color: #E9ECEF;
    border-bottom: 3px solid #2e8f72;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.bugsContainer
{
    width: 100%;
    height: 72vh;
    border-radius: 5px;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levels-container
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
    margin-top: 0.3rem;
    font-weight:bold;
    align-self: flex-start;
    margin-left: 1.2rem;
}

.levels-container h4
{
    border-bottom: 2px solid #1c5745;
    padding-bottom: 0.25rem;
}

.information-card
{
    display: flex;
    justify-content: space-evenly;
    
}

.level-help
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.level-help-circle
{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

[data-colour="red"] {
    background-color: red;
}
[data-colour="orange"] {
    background-color: orange;
}
[data-colour="green"] {
    background-color: green;
}

.card-heading
{
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.person-date
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.bug-buttons
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.card-alert
{
    height: 10px;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
}

.heading-card-style
{
    max-width: 30ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* form styling */
.main-form-container
{
    height: 85vh;
}

.form-Conatiner
{
    
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 1200px;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid var(--main-bg-colour);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    
}


.custom-input
{
    border: 3px solid var(--main-bg-colour);
    border-radius: 5px;
    display: block;
    width: 300px;
    margin-bottom: 20px;
}

.form-error-text
{
    max-width: 32ch;
    text-align: center;
}

/* Information cards */
.card-container
{
    position: relative;
    width: 100%;
    height: 80vh;
    border-radius: 5px;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-style
{
    margin-top: 20px ;
    border-bottom: 1px solid black;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
    padding: 20px;  
}

.info-section-style
{
    width: 100%;
}

.info-bug-head
{
    border-bottom: 5px solid var(--button-main-colour);
    background-color: var(--main-bg-colour);
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    text-align: center;
}




/* profile  */
.info-style-header
{
    background-color: #2e8f72;
    color: white;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0px;
}

.profile-style
{
    margin-top: 20px ;
    border-bottom: 1px solid black;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;  
}

.info-style-body
{
    margin-block: 20px;
    text-align: center;
}

.scroll-none
{
    overflow-y: hidden;
}



/* Reused custom styles */
.content-container
{
    width: 100%;
    height: 85vh;
    background-color: #E9ECEF;
}



.error-container
{
    width: 100%;
    height: 85vh;
    background-color: #fff;
}

.card-styles
{
    display: block;
    width: 90%;
    min-height: 340px;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: -2px 5px 10px grey ;
}

.badge-styles
{
    padding: 5px 10px;
    background-color: #2e8f72;
    display: inline-block;
    color: white;
    border-radius: 20px;
    min-width: 60px;
    text-align: center;
}

.button-styles
{
    display: inline-block;
    background-color: var(--main-bg-colour);
    border-radius: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

.button-styles:hover
{
    color: white;
    background-color: var(--main-bg-colour-hover);
}

.button-styles a:hover
{
    color: white;
}

.back-styles
{
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
    background-color: var(--main-bg-colour);
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    color: white;
    cursor: pointer;
    align-self: flex-start;
}


.delete-button
{
    background-color: var(--delete-colour);
}

.delete-button:hover
{
    background-color: var(--delete-colour-hover);
}

.button-spacing
{
    margin-left: 20px;
}

.label-styles
{
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--main-bg-colour);
}

.badge-styles-main
{
    padding: 8px;
    background-color: var(--main-badge-colour);
    display: inline-block;
    color: white;
    max-width: 15ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
}

.custom-filter
{
    border: 3px solid var(--main-bg-colour);
    border-radius: 5px;
    width: 100px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-inline: 2px;
}

a
{
    color: white;
    text-decoration: none;
}

.user-buttons
{
    display: flex;
    align-items: center;
    height: 100px;
}


/* footer */
footer
{
    height: 5vh;
    width: 100%;
    background-color: #1D5D4B;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    color: white;
}



/* login */
.plain-navbar
{
    height: 10vh;
    width: 100%;
    background-color: var(--main-bg-colour);
    color: white;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container
{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title
{
    font-weight: bold;
    color: #1c5745;
}


.login
{
    background-color: #1D5D4B;
    width: 80%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #144134;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.custom-input-login
{
    border: none;
    border-radius: 5px;
    display: block;
    width: 220px;
    margin-bottom: 2px;
}


.label-styles-login
{
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
}

.button-styles-login
{
    display: inline-block;
    background-color: #5F419F;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.error-message
{
    color: #fff;
    background-color: red;
    width: 100%;
    padding: 20px;
    font-weight: bold;
    position: absolute;
    top: -40%;
    text-align: center;
    border-radius: 10px;
}

.error-message-form
{
    color: #fff;
    background-color: red;
    width: 30%;
    top: 0;
    padding: 20px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    
}


/* Error Page */

.error-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-text
{
    padding: 20px;
    text-align: center;
}

.error-text h1
{
    margin-bottom: 20px;
}

.error-page-uknown
{
    background-color: var(--main-bg-colour);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 20px;
}


/* Media Query */

@media only screen and (min-width: 600px) {
    
    /* Viewing Bugs section at 600px */

    #bugForm
    {
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .levels-container
    {
        margin-left: 1.4rem;
    }

    .bugsContainer
    {
        max-width: 65%;
        margin: auto;
        padding-block: 2rem;
    }

    .card-styles
    {
        min-height: 300px;
    }

    .card-styles-user
    {
        text-align: center;
    }

    .person-date
    {
        flex-direction: row;
    }


    .card-heading
    {
        text-align: center;
    }


    /* form styling */

    .form-Conatiner
    {
        max-width: 60%;
        max-height: 68vh;
        margin-top: 5vh;
    }

    .custom-input-padding
    {
        padding-left: 5px;
    }

    .label-styles
    {
        font-weight: bold;
        font-size: 1.3rem;
       
    }

    /* info card at 600px */

    .info-style
    {
        width: 60%;
        text-align: center; 
    }

    .info-bug-head
    {
        margin-bottom: 20px;
    }

    .back-styles
    {
        margin-left: 20vw;
    }

    /* Profile at 600px */

    .info-style-body
    {
        font-size: 1.4rem;
    }


    /* Reused custom styles at 600px */
    
    .user-buttons
    {
        height: 40px;
        max-width: 40%;
        margin-inline: auto;
    }



  }


  /* Laptop */
  @media screen and (min-device-width: 1200px) and (max-device-width: 2000px)
  {
   
    .navbar-toggler
    {
        display: none;
    }

    .content-container
    {
        max-width: 75%;
        justify-self: center;
    }

    .side-bar-nav
    {
        padding-top: 6rem;
        background-color: #144134;
        max-width: 256px;
        width: 100%;
        display: flex;
        justify-self: flex-start;
    }

    .nav-link-container
    {
        padding-right: 20px;
        justify-content: center;
    }

    .nav-links
    {
        width: 100%;
    }

    .navbar
    {
        padding-inline: 20px;
    }

    .user-buttons
    {
        max-width: 50%;
        justify-content: space-around;
    }

    .bug-buttons
    {
        max-width: 65%;
        margin-inline: auto ;
    }

    .filterContainer form
    {
        max-width: 25%;
    }

    .back-styles
    {
       margin-left: 0;
    }

    .card-styles
    {
        max-width: 500px;
    }

    .levels-container
    {
        margin-inline: auto;
    }

    .login
    {
        width: 40%;
    }

    .custom-input-login
    {
        width: 400px;
        padding-left: 10px;
    }
  }

   /* 4k Screen and TV */
   @media screen and (min-device-width: 2000px)
   {
    .navbar-toggler
    {
        display: none;
    }

    .content-container
    {
        max-width: 50%;
        justify-self: center;
    }

    .side-bar-nav
    {
        padding-top: 6rem;
        background-color: #144134;
        max-width: 256px;
        width: 100%;
        display: flex;
        justify-self: flex-start;
    }

    .nav-link-container
    {
        padding-right: 20px;
        justify-content: center;
    }

    .nav-links
    {
        width: 100%;
    }

    .navbar
    {
        padding-inline: 20px;
    }

    .user-buttons
    {
        max-width: 50%;
        justify-content: space-around;
    }

    .bug-buttons
    {
        max-width: 65%;
        margin-inline: auto ;
    }

    .filterContainer form
    {
        max-width: 20%;
    }

    .back-styles
    {
       margin-left: 0;
    }

    .card-styles
    {
        max-width: 500px;
    }

    .levels-container
    {
        margin-inline: auto;
    }

    .login
    {
        width: 40%;
    }

    .custom-input-login
    {
        width: 400px;
        padding-left: 10px;
    }

   }


  









































































