<div class="login-container">
    <h1 class="main-title">Bug Tracking App</h1>
    <div class="login">
        <% if(typeof message !== 'undefined'){ %>
        <div class="error-message"><%= message %></div> 
        <% } %>
        <form action="https://bug-tracker.onrender.com/user/login" method="post" >
            <label class="label-styles-login" for="email">Email</label><br>
            <input class="custom-input-login" type="email" id="email" name="email" required><br>
            <label class="label-styles-login" for="password">Password</label><br>
            <input class="custom-input-login" type="password" id="password" name="password" required>
            <button class="button-styles-login" type="submit">Login</button>
          </form>
    </div>
    
</div>