<div class="main-container">

    <div class="side-bar-nav">
        
      <div class="nav-links">
        <div class="nav-link-container">
          <img src="/navbaricons/person.svg" alt="">
          <a href="https://bug-tracker.onrender.com/user/profile/<%= currentUser.id %>"> Profile</a>
        </div>
        <% if(currentUser.role === 'Admin' || currentUser.role === 'Super-Admin'  ) { %>
        <div class="nav-link-container">
          <img src="/navbaricons/users.svg" alt="">
          <a href="https://bug-tracker.onrender.com/user/">View Users</a>
        </div>
        <div class="nav-link-container">
          <img src="/navbaricons/createUsers.svg" alt="">
          <a href="https://bug-tracker.onrender.com/user/create/<%= currentUser.id %>">Create Users</a>
        </div>
        <% }%>
        <div class="nav-link-container">
          <img src="/navbaricons/viewBugs.svg" alt="">
          <a href="https://bug-tracker.onrender.com/bug/">View Bugs</a>
        </div>
        <div class="nav-link-container">
          <img src="/navbaricons/createBugs.svg" alt="">
          <a href="https://bug-tracker.onrender.com/bug/create/<%= currentUser.id %>">Create Bugs</a>
        </div>
        <div class="nav-link-container">
          <img src="/navbaricons/logout.svg" alt="">
          <a href="https://bug-tracker.onrender.com/user/logout">Log Out</a>
        </div>
      </div>
    </div>

<div class="container-fluid content-container">
    <div class="row">
        
        <div class="col main-form-container">


          
          
            <div class="form-Conatiner">
                
                <% if(typeof message !== 'undefined'){ %>
                    <div class="error-message-form"><%= message %></div> 
                    <% } %>
                <form action="https://bug-tracker.onrender.com/user/create" method="post">
                    <label class="label-styles" for="">First Name</label>
                    <input class="custom-input custom-input-padding" type="text" name="fname" maxlength="20" required>
                    <label class="label-styles custom-input-padding" for="">Last Name</label>
                    <input class="custom-input custom-input-padding" type="text" name="lname" maxlength="20" required>
                    <label class="label-styles" for="">Email</label>
                    <input class="custom-input custom-input-padding" type="email" name="email" maxlength="30" required>
                    <label class="label-styles" for="">Password</label>
                    <input class="custom-input custom-input-padding" type="text" name="password" minlength="5" maxlength="20" required>
                    <label class="label-styles"  for="">Confirm Password</label>
                    <input class="custom-input custom-input-padding" type="text" name="passwordConfirm" minlength="5" maxlength="20" required>
                    <label class="label-styles" for="role">Role</label>
                    <select class="custom-input custom-input-padding" name="role" id="role">
                        <option value="Admin">Admin</option>
                        <option value="User" selected>User</option>
                    </select>
                    <label class="label-styles" for="">Title</label>
                    <input class="custom-input custom-input-padding" type="text" name="title" maxlength="20" required>
                    <button class="button-styles" type="submit">Submit</button>
                    <button class="button-styles delete-button button-spacing"><a href="https://bug-tracker.onrender.com/user">Cancel</a></button>
                </form>
                
            </div>















        </div>
    </div>
</div>

</div>