<footer>
    <div>
      <ul class="social">
        <li><a href=""> <img src="/navbaricons/folder-solid.svg" width="15px" height="15px" alt=""> Portfolio </a></li>
        <li><a href=""> <img src="/navbaricons/square-github.svg" width="15px" height="15px" alt=""> GitHub </a></li>
        <li><a href=""> <img src="/navbaricons/linkedin.svg" width="15px" height="15px" alt=""> LinkedIn</a></li>
      </ul>
    </div>
    <div><p> Brendon O'Neill &copy; 2023</p></div>
</footer>