<nav class="navbar navbar-dark">
    <div class="container-fluid navbar-content-error">
        <span class="nav-bug-error">
          <img src="/bug.svg" alt="bug logo" />
        </span>
    </div>
  </nav>