<div class="error-container container-fluid error-container">
    <div class="error-text">
        <p class="error-page-uknown">404</p>
        <h1><%= message %></h1>
        <a class="button-styles" href="http://localhost:3000/user/login/">Login</a>
    </div>
    <div class="error-image">
        <img src="/Business team looking for new people.jpg" width="400px" height="400px" alt="Business team looking for new people">
    </div>
</div>